[submodule "raftscope"]
	path = raftscope
	url = https://github.com/ongardie/raftscope/
[submodule "raftscope-replay"]
	path = raftscope-replay
	url = https://github.com/ongardie/raftscope/
	branch = replay
[submodule "logo"]
	path = logo
	url = https://github.com/raft/logo/
